@import '../../scss/variables.scss';
@mixin abs-text {
    position: absolute;
    top: 55px;
    z-index: 2;
    max-width: 500px;
    letter-spacing: 0.1em;
    font-size: 19px;
    line-height: 130%;
    color: #e7e7e0;
    text-shadow: 0 0 15px #9e7d35;
}
.main {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 0.1em;
        color: #e2e27e;
        text-shadow: 0 0 15px #9e7d35;
    }
    .arrow__block {
        display: flex;
        position: relative;
        &__image {
            z-index: 1;
            width: 900px;
        }
        &__gif {
            position: absolute;
            left: 640px;
            top: 41px;
            width: 300px;
            height: 174px;
        }
        &__info {
            @include abs-text;
            left: 20px;
        }
        &__info__rotate {
            @include abs-text;
            right: 10px;
        }
        .gif__rotate {
            left: -42px;
        }
        .image__rotate {
            margin-right: -100px;
        }
        &__rotate {
            margin-left: 80px;
        }
    }

    @media (max-width: 1120px) {
        display: block;
        margin-left: 200px;
        &__title {
            display: block;
            text-align: left;
            margin-left: 230px;
        }
        .arrow__block {
            &__image {
                width: 700px;
                height: 200px;
            }
            &__gif {
                left: 498px;
                top: 32px;
                width: 235px;
                height: 140px;
            }
            .gif__rotate {
                left: -35px;
            }
            &__info {
                top: 46px;
                font-size: 16px;
            }
            &__info__rotate {
                top: 47px;
                left: 200px;
                font-size: 16px;
            }
            &__rotate {
                margin-left: 35px;
            }
        }
    }
    @media (max-width: 950px) {
        margin-left: 100px;
    }
    @media (max-width: 860px) {
        margin-left: 50px;
    }
    @media (max-width: 800px) {
        margin-left: 80px;
        &__title {
            margin-left: 190px;
        }
        .arrow__block {
            &__image {
                width: 500px;
                height: 200px;
            }
            &__gif {
                left: 356px;
                top: 32px;
                width: 235px;
            }
            .gif__rotate {
                left: -92px;
            }
            &__info {
                top: 46px;
                max-width: 381px;
            }
            &__info__rotate {
                top: 47px;
                left: 140px;
                max-width: 381px;
            }
            &__rotate {
                margin-left: 93px;
            }
        }
    }
    @media (max-width: 690px) {
        margin-left: 30px;
    }
    @media (max-width: 640px) {
        margin-left: 0px;
    }
    @media (max-width: 610px) {
        &__title {
            margin-bottom: 40px;
        }
        .arrow__block {
            display: flex;
            background-color: #2f2f2f;
            padding: 20px;
            border-radius: 20px;
            flex-direction: column;
            max-width: 390px;
            margin-left: 100px;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 100px;
            }
            &__image {
                display: none;
            }
            &__gif {
                position: relative;
                left: 0;
                top: 0;
                width: 235px;
                margin-bottom: 15px;
            }
            .gif__rotate {
                position: relative;
                left: 0;
                top: 0;
            }
            &__info {
                position: relative;
                left: 0;
                top: 0;
                max-width: 381px;
                text-align: center;
            }
            &__info__rotate {
                position: relative;
                left: 0;
                top: 0;
                max-width: 381px;
                text-align: center;
            }
        }
    }
    @media (max-width: 510px) {
        &__title {
            margin-left: 142px;
        }
        .arrow__block {
            max-width: 300px;
            margin-left: 100px;
        }
    }
    @media (max-width: 420px) {
        &__title {
            margin-left: 30px;
        }
        .arrow__block {
            margin-left: 0px;
        }
    }
}
