/*-------FONTS---------*/
@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}
@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

/*---------RESET-CSS-------------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    background-color: #010101;
    height: 100%;
    line-height: 1.55;
    font-size: 16px;
    font-weight: 500;
    font-family: raleway_f, sans-serif;
}
/*------------VARIABLE------------*/
:root {
    --index: calc(1vw + 1vh);
    --text: #e7e7e0;
    --text-shadow: #9e7d35;
    --main__page-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
/*--------BASIC------------------ */
.content {
    will-change: transform;
}
/*--------HEADER----------*/
.header {
    position: relative;
}
.header::after {
    content: '';
    position: absolute;
    z-index: 10;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
}
.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.layer__header {
    z-index: 2;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    transition: var(--transition);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text);
    text-shadow: 0 0 15px var(--text-shadow);
    will-change: transform;
}
.layer__header__caption {
    font-size: calc(var(--index) / 1.175);
    letter-spacing: calc(var(--index) / 3.5);
    margin-top: calc(var(--index) * -0.75);
}
.layer__header__title {
    font-size: calc(var(--index) * 2);
    letter-spacing: calc(var(--index) / 2.25);
}
.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: var(--transition);
    will-change: transform;
}
.layers__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
}
.layers__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    z-index: 1;
}
.layers__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
    z-index: 3;
}
/*----------MAIN---------*/
.main__page {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    top: -1px;
    z-index: 10;
}
.main__page__content {
}
.main__page__title {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5);
    font-weight: 900;
    transform: var(--main__page-transform);
    transition: var(--transition);
    will-change: transform;
}
.main__page__text {
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * 0.8);
    margin-top: calc(var(--index) / 1.25);
    transform: var(--main__page-transform);
    transition: var(--transition);
    will-change: transform;
}
